@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 50%;
    }
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-family: sans-serif, "Segoe UI";
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.box {
    background-color: rgb(247, 246, 246);
    text-align: left;
    padding-left: 2px;
    border-radius: 8px;
    font-size: 12px;
    width: 250px;
    height: 30px;
    border: 1px solid rgb(228, 227, 227);
}

.boxl {
    background: linear-gradient(-45deg, #7351b7, #538ccf, #22e088);
    background-size: 400% 100%;
    color: white;
    padding: 12px 30px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    animation: gradient-animation 4s linear infinite;
}

.logo {
    max-width: 180px;
    height: auto;
}

section {
    text-align: center;
}

.newpassword {
    color: white;
    text-decoration: none;
}
